{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<p style="margin: 50px auto;">
  以下排名不分先后
</p>

<div style="
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
">
  <figure style="display: flex; align-items: center;">
    <img style="margin: auto;" src="https://avatars.githubusercontent.com/u/172495?v=4" width="120px">
    <figcaption style="margin: 8px auto; font-size: 20px;">
      oldherl
      <br>
      <a href="https://blog.oldherl.one/">Hydroxide</a>
    </figcaption>
  </figure>
  <figure style="display: flex; align-items: center;">
    <img style="margin: auto;" src="https://avatars.githubusercontent.com/u/172495?v=4" width="120px">
    <figcaption style="margin: 8px auto; font-size: 20px;">
      oldherl
      <br>
      <a href="https://blog.oldherl.one/">Hydroxide</a>
    </figcaption>
  </figure>
  <figure style="display: flex; align-items: center;">
    <img style="margin: auto;" src="https://avatars.githubusercontent.com/u/172495?v=4" width="120px">
    <figcaption style="margin: 8px auto; font-size: 20px;">
      oldherl
      <br>
      <a href="https://blog.oldherl.one/">Hydroxide</a>
    </figcaption>
  </figure>
</div>

{{- end }}{{/* end main */}}
